/* style.css */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1F2937;
    min-height: 100vh;
    margin: 0; /* Remove default margin */
    display: flex; /* Align sections vertically */
    flex-direction: column;
    justify-content: stretch;

    background-position: center; /* Create fixed background */
    background-size: cover;
    background-image: url(/home/pst16/repos/lab-landing-page/images/bird-hu-lei.jpg);
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
}

button {
    font-weight: 700;
    background-color: #3882F6;
    padding: 8px 36px;
    border-radius: 12px;
    border: none;
}

.header, .footer, .title-section, .img-section, 
.quote-section, .contact-section {
    padding: 12px 15%; /* padding on all content elements*/
}

.title-section, .img-section, .quote-section, .contact-section { 
    padding-top: 76px; /* Vertical padding for non head/foot*/
    padding-bottom: 76px;
}

.header, .title-section, .contact-box, 
.lab-button, .contact-button {
    color: white;
}

.header-links, .title-secondary-text, 
.footer, .contact-text-secondary {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;   
}

.header {
    font-size: 24px;
    font-weight: 800;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.title-content {
    background-color: rgba(31,41,55,0.25);
    border-radius: 24px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 600px;
    gap: 24px;
}

.title-main-text {
    font-size: 64px;
    font-weight: 800;
}

.lab-button {
    width: 40%;
}

.title-image {
    border: 4px solid #3882f6;
    border-radius: 24px;
    height: 320px;
}

.img-section {
    background-color: white;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.img-header{
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 64px;
}

.img-container {
    font-size: 20px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

.lab-image {
    flex-shrink: 0;
    object-fit: cover;
    object-position: 10% 100%;
    border: 4px solid #3882f6;
    border-radius: 24px;
    width: 200px;
    height: 200px;
}

.img-with-text {
    width: 220px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 25%;
    padding-left: 25%;
}

.quote-text {
    padding-top: 32px;
    font-size: 32px;
    font-style: italic;
}

.quote-attributed {
    font-weight: 700;
    text-align: right;
}

.contact-section {
    background-color: white;
}

.contact-box {
    background-color: #3882f6;
    border-radius: 24px;
    padding: 64px 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 128px;
    margin: 48px 0px;
}

.contact-text {
    display: flex;
    flex-direction: column;
}

.contact-text-main {
    font-weight: 700;
    font-size: 32px;
}

.contact-text-secondary {
    font-size: 24px;
}

.contact-button {
    flex-basis: 200px;
    outline: 2px solid white;
}

.footer {
    background-color: #1F2937;
    text-align: center;
}